*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav{
 
    background: #6f4e37;
    height:60px;


}
.logo{
    margin-left: 55px;
    margin-top: 6px;
    border-radius: 30px;

}
nav ul{
    margin-right: 20px;
    display: flex;
    justify-content: center;
    margin-top: -71px;
    margin-left: -82px;

}
nav ul li{
display: inline-block;
line-height: 80px;
margin:0 5px
}
nav ul li a{
    color: white;
    font-size: 17px;
    margin-left: 42px;
}
a.active,a:hover{
    background-color:orange;
    height: auto;
    width:auto;
    border-radius:20px;
    padding:5px
}

.images{
    display: flex;
    justify-content: space-evenly;
    margin-top:20px;
    max-width: 1200px;
    width:90%;
    margin:auto;
    margin-top:40px;

   
 
   
}
.card{
    
    width:auto;
    box-shadow: 1px 0px 4px 3px;
    margin:10px;
    border-radius:20px;
    height: 390px;


}
.card:hover{
    
        height:390px;
        width:auto;
        box-shadow: 2px 1px 3px 2px;
  
}
.anotherimages{
    display: flex;
    justify-content: space-evenly;
    margin-top:20px;
    max-width: 1200px;
    width:90%;
    margin:auto;
    margin-top:40px;
  

}
.card >p{
    text-align: center;
    margin-top:10px;
    
}
.card >img{
    border-radius:20px;
    max-inline-size: 100%;
    block-size: auto;
    height:280px;
    width:400px
}

.footer{
    height:auto;
    width:auto;
    background-color: black;
    color:white
}
.footer.para{
    width: 50%;
  
   
    font-size: 20px;
    margin-bottom: 27px;
  }
  p {
  justify-content: center;
  display: flex;
  font-size: 17px;
  }  
.footer > h1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 14px;
}
.footer > p{
    width: 50%;
    text-align: center;
    margin-left: 373px;
    font-size: 20px;
    margin-bottom: 27px;
}
.image{
    display: flex;
    justify-content: center;
}
.img{
    height: 50px;
    margin: 20px;
    border-radius: 10px;
}
.footer > h6{
    font-size:20px;
    text-align: center;
}
@media only screen and (min-width:0px ) and (max-width:1200px) {  
  

    nav ul {
      margin-right: 20px;
      display: flex;
      justify-content: center;
      margin-top: -76px;
      margin-left: -82px; 
    
      
    }
    
    
    .logo {
      margin-left: 7px;
      margin-top: 7px;
     
      width: 50px;
      height: 60px;
      border-radius: 30px;
     
    }
    nav {
    
      background: #6f4e37;
      height: 70px;
      overflow-y: hidden;
    }
    nav ul {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
     
      
      width: auto;
      padding: auto;
      margin: auto;
      margin-top: -75px;
      margin-left: 62px;
    }
    
    
    
    nav ul li a {
      display: inline-block;
      line-height: 80px;
      margin: 0 5px;
     
    }
    nav ul li{
      display: inline-block;
      line-height: 80px;
      margin: 0 5px;
    }
    
   
    .mission1 > img {
      
      max-inline-size: 100%;
      block-size: auto;
      height: 350px;
      width: 500px;
      border-radius: 10px;
  }
  a.active,
  a:hover {
      background-color:orange;
     
      border-radius:20px;
     
  }
}