*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav{
 
    background: #6f4e37;
    height:60px;


}
.logo{
    margin-left: 55px;
    margin-top: -1px;
}
nav ul{
    margin-right: 20px;
    display: flex;
    justify-content: center;
    margin-top: -81px;
    margin-left: -82px;

}
nav ul li{
display: inline-block;
line-height: 80px;
margin:0 5px
}
nav ul li a{
    color: white;
    font-size: 17px;
    margin-left: 42px;
}
a.active,a:hover{
    background-color:orange;
    height: auto;
    width:auto;
    border-radius:20px;
    padding:5px
}

.images{
    display: flex;
    justify-content: space-evenly;
    margin-top:20px;
    max-width: 1200px;
    width:90%;
    margin:auto;
    margin-top:40px;
   
 
   
}
.card{
    height:350px;
    width:400px;
    box-shadow: 1px 0px 4px 3px;
    margin:10px;
    border-radius:20px

}
.card:hover{
    
        height:351px;
        width:auto;
        box-shadow: 2px 1px 3px 2px;
  
}
.anotherimages{
    display: flex;
    justify-content: space-evenly;
   
    max-width: 1200px;
    width:90%;
    margin:auto;
    margin-top:40px;
  

}
.card >p{
    text-align: center;
    margin-top:10px
}
.card >img{
    border-radius:20px
}

.footer{
    height:300px;
    width:auto;
    background-color: black;
    color:white
}
.footer > h1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 14px;
}
.footer > p{
    width: 50%;
    text-align: center;
    margin-left: 373px;
    font-size: 20px;
    margin-bottom: 27px;
}
.image{
    display: flex;
    justify-content: center;
}
.img{
    height: 50px;
    margin: 20px;
    border-radius: 10px;
}
.footer > h6{
    font-size:20px;
    text-align: center;
}