* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
nav {
  background: #6f4e37;
  height: 60px;
}
.logo {
  margin-left: 55px;
  margin-top: 6px;
  border-radius: 30px;
}
nav ul {
  margin-right: 20px;
  display: flex;
  justify-content: center;
  margin-top: -71px;
  margin-left: -82px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  font-size: 17px;
  margin-left: 42px;
}
a.active,
a:hover {
    background-color:orange;
    
    border-radius:20px;
 
}

.services_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.services_content > h1 {
  color: whitesmoke;
  margin-top: 40px;
  font-size: 50px;
}
.feature_data {
  width: 90%;
  margin-top: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.feature_cards {
  width: 5%;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
  box-shadow: 0 1px 2px #527c7c;
  transition: all 0.3s ease-in-out;
}
.feature_cards > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.feature_cards > p {
  width: 80%;
}
.feature_cards:hover {
  border-radius: 20px;
  box-shadow: 0 5px 15px #527c7c;
}
.feature_cards::after {
  box-shadow: 0 5px 15px #527c7c;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.heading {
  display: flex;
  justify-content: center;

  margin-top: 20px;
  margin-bottom: 40px;
}
.missioncard {
  display: flex;
  justify-content: center;
}
.mission1 {
  
  margin-left: auto;
  height: 436px;
  width: auto;
  margin-left: 38px;
  margin-right: 14px;
}
.mission2 {
  width: 700px;
  
  padding-left: -18px;
  font-size: 15px;
}
.cardimg {
  margin-left: 15px;
  border: 1px solid grey;
  border-radius: 20px;

  box-shadow: 1px 2px 5px;
  max-inline-size: 100%;
  block-size: auto;
  height: 473px;
  width: 80%;
  margin-right: 21px;
}
.mission2 > h1 {
  margin-top: 10px;
}
.mission2 > p {
  font-size: 20px;
  margin-top: 10px;
}
.cards {
  
    width: 100%;
    display: flex;
    margin-top: 60px;
    margin-bottom: 20px;
  
  /* display: flex;
  justify-content: space-evenly;

  max-width: 1200px;
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 170px; */
}
.cardsdata > img {
  border-radius: 6px;
  max-inline-size: 100%;
  block-size: auto;
  border: 1px solid grey;
  height: 300px;
  width: 400px;
  
}
.cardsdata {
  border: 1px solid black;
  margin: 10px;
  padding: 20px;
  height: auto;
  width: auto;
  border-radius: 10px;
}
.cardsdata:hover {
  /* border:3px solid black */
  height: auto;
  width: auto;
  box-shadow: 2px 1px 3px 2px;
}

.cards1 {
  width: 100%;
  display: flex;
  margin-top: 60px;
  margin-bottom: 20px;
  /* display: flex;
  justify-content: space-evenly;

  max-width: 1200px;
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 50px; */
}
.footer{
  height:auto;
  width:auto;
  background-color: black;
  color:white
}
.footer.para{
  width: 50%;

 
  font-size: 20px;
  margin-bottom: 27px;
}
p {
justify-content: center;
display: flex;
font-size: 17px;
}  
.footer > h1{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 14px;
}
.footer > p{
  width: 50%;
  text-align: center;
  margin-left: 373px;
  font-size: 20px;
  margin-bottom: 27px;
}
.image{
    display: flex;
    justify-content: center;
}
.img{
    height: 50px;
    margin: 20px;
    border-radius: 10px;
}
.footer > h6{
    font-size:20px;
    text-align: center;
}
@media only screen and (min-width:320px ) and (max-width:1200px) {  
  

  nav ul {
    margin-right: 20px;
    display: flex;
    justify-content: center;
    margin-top: -76px;
    margin-left: -82px; 
  
    
  }
  
  
  .logo {
    margin-left: 7px;
    margin-top: 7px;
   
    width: 50px;
    height: 60px;
    border-radius: 30px;
   
  }
  nav {
  
    background: #6f4e37;
    height: 70px;
    
  }
  nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
   
    
    width: auto;
    padding: auto;
    margin: auto;
    margin-top: -75px;
    margin-left: 62px;
  }
  
  
  
  nav ul li a {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
   
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
}